.top-bar-wrapper{
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

.topbar a:hover{
    color:#fff;
}

.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
    margin-top: -1px;
}


.service ,.topbar li{
   float: left;
}

.app{
    position: relative;
}

/* 三角形樣式 */
/* 法一 */
/* .app-wrapper:hover > .app::after{ */
.app::after{
    content: "";
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    bottom: 0;
    /* 水平居中 */
    left: 0;
    right: 0;
    margin: auto;
}


/* 法二 */
.app:hover > .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}

/* 設置下載APP下拉 */
.app .qrcode{
    position: absolute;
    left: -40px;
    width: 124px;
    /* height: 148px; */
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* display: none; */
    /* transition 用於為樣式設計過度效果 */
    transition: height 0.5s;
}

.app .qrcode img{
    width: 90px;
    height: 90px;
    margin: 17px;
    margin-bottom: 10px;
}

.app .qrcode span{
    color: #000;
    font-size: 14px;
}

.shop-cart,.user-info{
    float: right;
}

/* 設置購物車樣式 */
.shop-cart{
    position: relative;
}

.shop-cart a{
    width: 120px;
    display: block;
    text-align: center;
    background-color: #424242;
}

.shop-cart span{
    margin-right: 2px;
}

.shop-cart {
    margin-left: 26px;
}

.shop-cart:hover a{
    background-color: #fff;
    color: #FF6700;
}

/* 購物車彈出層樣式 */
.show-shop-cart{
    position: absolute;
    /* height:120px; */
    height: 0;
    overflow: hidden;
    width: 350px;
    /* left: -229px; */
    right: 0;
    top: 40px;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 18%);  
    transition: height 0.5s; 
}

.shop-cart:hover .show-shop-cart{
    height: 120px;
}

.show-shop-cart span{
    line-height: 120px;
    color:#000
}


.header-wrapper{
    /* 給導航條彈出層定位 */
    position: relative;
}


.header{
    height: 100px;
    
    
}

.header .logo{
    float: left;
    margin-top: 22px;
    width: 55px;
    height: 55px;
    position: relative;
    overflow: hidden;
    /* 隱藏logo中的文字 */
    text-indent: -999px;
}

.header .logo a{
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    background-color: #FF6700;
    background-image: url(../img/mi-logo.png);
    background-position: center;
    transition: left 0.3s;
}

.header .logo .home{
    background-image: url(../img/mi-home.png);
    left: -55px;
}

.header .logo:hover .mei{
    left: 55px;
}

.header .logo:hover .home{
    left: 0;
}


.nav-wrapper{
    float: left;
    margin-left: 7px;
}

.nav-wrapper .nav{
    width: 850px;
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
    /* 寬度 加上border padding */
    box-sizing: border-box;
}


.nav-wrapper li{
    float: left;
}

.nav-wrapper li a{
    font-size: 16px;
    margin-right: 20px;
    display: block;
}

.nav-wrapper a:hover{
    color: #FF6700;
}

/* 隱藏全部商品 */
.all-goods{
    visibility: hidden;
}

/* .nav li:not(:first-of-type):hover ~ .goods-info, */
.nav .show-goods:hover ~ .goods-info,
.nav .goods-info:hover{
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}


.nav .goods-info{
    position: absolute;
    /* height: 228px; */
    height: 0;
    overflow: hidden;
    width: 100%;
    top: 100px;
    left: 0px;
    /* border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); */
    background-color: #fff;
    transition: height 0.5s;
    z-index: 999;
}


.search-wrapper{
    margin-top: 25px;
    width: 296px;
    height: 50px;
    float: right;
    /* background-color: red; */
    border: 1px solid rgb(224, 224, 224);
}


.search-wrapper .search-inp{
    box-sizing: border-box;
    height: 50px;
    padding: 0 10px;
    border: none;
    float: left;
    width: 244px;
   outline: none;
}


.search-wrapper .search-inp:focus,
.search-inp:focus+.search-btn{
    outline: solid 1px #ff6700 ;

}

.search-inp:focus+.search-btn{
border-left: 1px solid #fff;
}

.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    border-left: 1px solid rgb(224, 224, 224);
    color: #616161;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.search-wrapper .search-btn:hover{
    background-color: #FF6700;
    color: #fff;
 
    border-left: 1px solid #FF6700;
}